doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://chartmogul.com/assets/css/chartmogul-2b28fbc207.min.css")
  body
    block content
